<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="estimates"></ion-back-button>
    </ion-buttons>
    <ion-title>Client {{estimate.contact['display_name']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <span class="price"> {{ estimate.currency }} {{ estimate.price }}</span>
          <br />
          <span style="font-size: 20px">Total price</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10">
          <span style="font-size: 25px">{{ estimate.naming_series }}{{
              estimate.naming_series_number
            }}</span>
          <br />
          <span style="font-size: 20px">Reference</span>
        </ion-col>
        <ion-col size="">
          <ion-icon style="zoom: 2" name="download" (click)="downloadPdf(estimate.pdf)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>
    <ion-row class="info_head">
      <ion-col size="1">
        <ion-icon style="zoom: 2" name="calendar"></ion-icon>
      </ion-col>
      <ion-col size="10" padding>
        Date
      </ion-col>
    </ion-row>
    <ion-row class="info">
      <ion-col size="12">
        <ion-text color="">
          <p>Date : {{ estimate.date | date: "d,MMMM,yy" }}</p>
          <p>Due date : {{ estimate.date | date: "d,MMMM,yy" }}</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="info_head">
      <ion-col size="1">
        <ion-icon style="zoom: 2" name="apps"></ion-icon>
      </ion-col>
      <ion-col size="10" padding>
        Items
      </ion-col>
    </ion-row>
    <ion-item *ngFor="let item of estimate.items" lines="none">
      <div slot="start">
        <ion-text class="info">
          <p>{{ item.title }}</p>
        </ion-text>
      </div>
      <div slot="end">
        <ion-text>
          <p>{{ estimate.currency }} {{ item.pivot["rate"] }}</p>
        </ion-text>
      </div>
    </ion-item>
    <ion-row class="info_head">
      <ion-col size="1">
        <ion-icon style="zoom: 2" name="bookmark"></ion-icon>
      </ion-col>
      <ion-col size="10" padding>
        Information
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text color="">
          <p *ngIf="estimate.order_number > 0">
            Order number : {{ estimate.order_number }}
          </p>
          <p *ngIf="estimate.discount > 0">discount : {{ estimate.discount }}</p>
          <p *ngIf="estimate.conditions > 0">
            conditions : {{ estimate.conditions }}
          </p>
          <p>Tax : {{ estimate.currency }} {{ estimate.tax }}</p>
          <p *ngIf="estimate.tax_type == 1">Tax type: HT</p>
          <p *ngIf="estimate.tax_type == 2">Tax type: TTC</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="info_head">
      <ion-col size="1">
        <ion-icon name="pin" style="zoom: 2"></ion-icon>
      </ion-col>
      <ion-col size="10" padding>
        Address
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text class="info">
          <p>{{estimate.contact['display_name']}}</p>
          <p>{{estimate.contact['display_name']}}</p>
        </ion-text>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>