ion-item {
    background: #fff;
    border-radius: 20px !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    box-shadow: 0 14px 28px rgba(34, 34, 34, 0.068),
        0 10px 10px rgba(34, 34, 34, 0.068);


    p {
        margin: 5px !important;
    }

    .info {
        color: rgb(73, 73, 73);
    }

    .price {
        font-size: 20px;
        margin: 0px !important;
    }

    .price_info {
        margin: 0px !important;
    }

}